.navbar-custom {
    padding: 1.5% 1.5% 1.5%;
    background-color: lightgoldenrodyellow;
}

.nav-item {
    padding: 0 15px;
}

.navbar-brand {
    color: black;
    font-family: 'Ubuntu';
    font-size: 2rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
}

.navbar .dropdown-menu {
     background-color: white; 
     font-family: 'Montserrat', sans-serif;
} 

.flag {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.user {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -10px;
    margin-right: 5px;
}

.profile {
    padding-top: 3px;
}

#footer {
    text-align: center;
    padding: 3% 15%;
    background-color: lightgoldenrodyellow;
}

.social {
    margin: 20px 10px;
}

form {
    background-color: white;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

label {
    margin-bottom: 10px;
    font-size: 17px;
    margin-right: 15px;
}

input {
    margin-bottom: 15px;
}

.custom-text {
    width: 300px;
    padding: 6px 13px;
}

.radio-button {
    margin-left: 20px;
}

.card {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightyellow;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-bottom: 20px;
}

.custom-btn {
    width: 25%;
    margin-top: 30px;
    margin-right: 20px;
}