.navbar-custom {
    padding: 1.5% 1.5% 1.5%;
    background-color: lightgoldenrodyellow;
}

.nav-item {
    padding: 0 15px;
}

.navbar-brand {
    color: black;
    font-family: 'Ubuntu';
    font-size: 2rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
}

.navbar .dropdown-menu {
     background-color: white; 
     font-family: 'Montserrat', sans-serif;
} 

.flag {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.user {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -10px;
    margin-right: 5px;
}

.profile {
    padding-top: 3px;
}

#footer {
    text-align: center;
    padding: 3% 15%;
    background-color: lightgoldenrodyellow;
}

.social {
    margin: 20px 10px;
}

label {
    margin-bottom: 15px;
    margin-left: 7px;
}

.profile-img {
    float: right;
    width: 200px;
    height: 200px;
    margin-right: 100px;
}

.card {
    width: 75%;
    margin: 20px auto;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: bold;
    color: red;
    margin: 15px 20px;
}

.custom-btn {
    margin-bottom: 20px;
}
