{% extends 'base.html' %}

{% load static %}

{% block title %}
    Download Forms
{% endblock title %}

{% block CSS %}

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'form_css.css' %}>

{% endblock CSS %}

{% block body %}

    <section>

        {% for x in forms %}
            <h1>{{x.title}}</h1><br>
            <h3>{{x.description}}</h3><br>
            <a href={{x.file.url}}>Download</a>
        {% endfor %}

    </section>

{% endblock body %}