{% extends 'base.html' %}

{% load static %}

{% block title %}
    Download Forms
{% endblock title %}

{% block CSS %}

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'form_css.css' %}>

{% endblock CSS %}

{% block body %}

    <section id="forms">

    <table class="table table-primary table-hover table-bordered border-primary">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
        {% for x in forms %}
        <tr>
            <td>{{x.title}}</td>  
            <td>{{x.description}}</td>
            <td><a href={{x.file.url}}>Download</a></td>
        </tr>
        {% endfor %}
    </table>
        
    </section>

{% endblock body %}