{% extends 'base.html' %}

{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block CSS %}

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'login_css.css' %}>

{% endblock CSS %}

{% block body %}

    <div align='center'>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="card">
            <img src={% static 'img/login_user.png' %} class="card-img-top user-image" alt="User Profile Image">
            <div class="card-body">
                <h5 class="card-title"><marquee behavior="alternate" >Welcome to Login Page !</marquee></h5>
                <p class="card-text">
                    <label for="username"><b>Username</b></label><br>
                    <input type="text" placeholder="Enter Username" name="username" required><br>

                    <label for="password"><b>Password</b></label><br>
                    <input type="password" placeholder="Enter Password" name="password" required><br>
                </p>
                <input class="btn btn-color col-12" type="submit" value="Login">
                <p class="footer">Don't Have An Account ? <a href="/register">Sign up</a> </p>
            </div>
        </div>
    </form>    
    
{% endblock body %}