{% extends 'base.html' %}

{% load static %}

{% block title %}
    Registration
{% endblock title %}

{% block CSS %}

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'register_css.css' %}>

{% endblock CSS %}

{% block body %}

    <div align='center'> 
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>

    <form action="register" method="POST">
        {% csrf_token %}
        <div class="card">
            <img src={% static 'img/register_user.png' %} class="card-img-top user-image" alt="User Profile Image">
            <div class="card-body">
                <h5 class="card-title"><marquee behavior="alternate" >Register Your Self Here ! </marquee></h5>
                <p class="card-text">
                    <div class="row">
                        <div class="col">
                        <label for="username"><b>Username</b></label><br>
                        <input type="text" placeholder="Enter Username" name="username" required><br>

                        <label for="first_name"><b>Firstname</b></label><br>
                        <input type="text" placeholder="Enter Firstname" name="first_name" required><br>

                        <label for="last_name"><b>Lastname</b></label><br>
                        <input type="text" placeholder="Enter Lastname" name="last_name" required><br>
                        </div>

                        <div class="col">
                        <label for="email"><b>Email</b></label><br>
                        <input type="email" placeholder="Enter Email" name="email" required><br>

                        <label for="password"><b>Password</b></label><br>
                        <input type="password" placeholder="Enter Password" name="password" required><br>

                        <label for="confPassword"><b>Confirm Password</b></label><br>
                        <input type="password" placeholder="Re-Enter Password" name="confPassword" required><br>
                        </div>
                    </div> 
                </p>
                <input class="btn btn-color col-12" type="submit" value="Register">
                <p class="footer">Already Have An Account ? <a href="/login">Sign in</a> </p>
            </div>
        </div>
    </form>  
      
{% endblock body %}